* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

h3 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 22px;
}